<!--
    * Copyright (C) 2023 "SilenusTA https://www.twitch.tv/olddepressedgamer"
    *
    * This program is free software: you can redistribute it and/or modify
    * it under the terms of the GNU Affero General Public License as
    * published by the Free Software Foundation, either version 3 of the
    * License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    * GNU Affero General Public License for more details.
    *
    * You should have received a copy of the GNU Affero General Public License
    * along with this program. If not, see <http: //www.gnu.org/licenses />.
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../scripts/common'); %>
    <%- include('../partials/head'); %>
</head>

<body class="sr-theme-dark">
    <div class="main_body container-fluid main-container box">
        <!-- header -->
        <header id="streamrollerheader" class="margin-xs row header">
            <!-- navbar tabs are set in the navbar file -->
            <%- include('../partials/navbar'); %>
        </header>

        <!-- Main page area -->
        <div id="streamrollerbody" class="mt-2 px-2">
            <div class="row">
                <!-- Home Page (activated from navbar) -->
                <div id="homepage" class="tab-pane fade show active">
                    <!-- Row will be split into two areas. ie main and extensionlist -->
                    <!-- Left pane (homepage area)-->
                    <div id="lefthomepagepane" class="col-md-10 border">
                        <%- include('../cards/twitchchatcard'); %>
                        <%- include('../cards/discordchatcard'); %>
                    </div>
                    <!-- Right pane (extensions/alerts)-->
                    <div id="righthomepagepane" class="col-md-2 border">
                        <h5 id="extensionstitle">Extensions</h5>
                    </div>
                </div>
                <!-- Settings Page (activated from navbar) -->
                <div class="tab-pane fade" id="settingspage">
                    <h5 id="settingspagetitle">Settings Page</h5>
                </div>
                <!-- Triggers Page (activated from navbar) -->
                <div class="tab-pane fade" id="triggerspage">
                    <h5 id="triggerspagetitle">Triggers Page</h5>
                </div>
                <!-- Help Page (activated from navbar) -->
                <div class="tab-pane fade" id="helppage">
                    <h5 id="helppagetitle">Help Page</h5>
                </div>
            </div>

        </div>

        <!-- footer -->
        <footer id="streamrollerfooter" class="row footer fixed-bottom">
            <%- include('../scripts/app'); %>
            <%- include('../partials/foot'); %>
        </footer>
    </div>
</body>

</html>