<!doctype html>
<meta charset="utf-8">
<!--
      StreamRoller_source Copyright 2023 "SilenusTA https://www.twitch.tv/olddepressedgamer"
 
      StreamRoller is an all in one streaming solution designed to give a single
      'second monitor' control page and allow easy integration for configuring
      content (ie. tweets linked to chat, overlays triggered by messages, hue lights
      controlled by donations etc)
 
      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU Affero General Public License as published
      by the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
 
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero General Public License for more details.
 
      You should have received a copy of the GNU Affero General Public License
      along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class=" light bg-light text-dark">
    <div class="main_body container-fluid main-container  box">
        <header class="margin-xs row header">
            <%- include('../partials/navbar'); %>
        </header>

        <div class="tab-content mt-2 px-2 row content">
            <div class="tab-pane fade show active" id="LivePage">
                <!-- start container -->
                <h5 id="liveportaltitle">Live Streaming Portal</h5>
                <!--Row with two equal columns-->
                <div class="row border bg-light">

                    <div class="col-md-10 border bg-light">
                        <%- include('../cards/ChatMessagesCard'); %>
                        <%- include('../cards/ModMessagesCard'); %>
                        <%- include('../cards/OBSControllsCard'); %>
                        <%- include('../cards/PhilipsHueCard'); %>
                        <%- include('../cards/MacroButtonsCard'); %>
                        <%- include('../cards/StreamerSongListCard'); %>

                    </div>

                    <div class="col-md-2 border bg-light">Extensions
                        <%- include('../cards/ExtensionsListCard'); %>
                        <%- include('../cards/AlertsCard'); %>
                    </div>
                </div>

                <!-- end container -->
            </div>

            <div class="tab-pane fade" id="SettingsPage">
                <%- include('../cards/SettingsPageCard'); %>
            </div>
            <div class="tab-pane fade" id="TriggersPage">
                <%- include('../cards/TriggersPageCard'); %>
            </div>
            <div class="tab-pane fade" id="tab3">
                <h2>Help</h2>
                <p>I need some :D I will eventually get round to writing this page.
                    <BR>You are always free to ask questions when I'm on twitch (link below)
                    <BR>Or on discord at <a href="https://discord.gg/EyJy8brZ6R">Discord link</a>
                </p>

                <div id="twitch-embed" title="Testing out using twitch embed for live portal chat and video"></div>
                <script src="https://embed.twitch.tv/embed/v1.js"></script>
                <script type="text/javascript">
                    window.addEventListener("load", function loadTwtichEmbed ()
                    {
                        const embed = new Twitch.Embed("twitch-embed", {
                            width: 655,
                            height: 600,
                            channel: "olddepressedgamer",
                            parent: [localConfig.host.replace("http://", "")],
                            quality: "160p",
                            muted: true
                        });
                        embed.addEventListener(Twitch.Embed.VIDEO_READY, () =>
                        {
                            localConfig.player = embed.getPlayer();
                            localConfig.player.setMuted(true);
                            localConfig.player.setQuality("160p")
                        });
                        embed.addEventListener(Twitch.Embed.ONLINE, () =>
                        {
                            localConfig.player = embed.getPlayer();
                            localConfig.player.setMuted(true);
                            let qualities = localConfig.player.getQualities()
                            localConfig.player.setQuality(qualities[qualities.length - 1].name)
                        })

                    })
                </script>
                <p>While you wait why not check out these streamers</p>
                <a href="https://www.twitch.tv/resurrectionfern">Resurrectionfern</a><br>
                <a href="https://www.twitch.tv/y3ssydo">y3ssydo</a><br>
                <a href="https://www.twitch.tv/sabilewsounds">sabilewsounds</a><br>
                <a href="https://www.twitch.tv/kittyarmistead">kittyarmistead</a><br>
            </div>
        </div>



        <footer class="row footer">
            <%- include('../scripts/datahandler'); %>
            <%- include('../partials/foot'); %>
        </footer>

    </div>
    <!-- tab click handler-->
    <script>
        $(document).ready(function ()
        {
            $('#MainPortalTabs a').click(function (e)
            {
                e.preventDefault();
                $(this).tab('show');
            });
        });
    </script>

</body>

</html>