<!doctype html>
<meta charset="utf-8">
<!--
      StreamRoller_source Copyright 2023 "SilenusTA https://www.twitch.tv/olddepressedgamer"
 
      StreamRoller is an all in one streaming solution designed to give a single
      'second monitor' control page and allow easy integration for configuring
      content (ie. tweets linked to chat, overlays triggered by messages, hue lights
      controlled by donations etc)
 
      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU Affero General Public License as published
      by the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
 
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero General Public License for more details.
 
      You should have received a copy of the GNU Affero General Public License
      along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class=" light bg-light text-dark">
    <div class="main_body container-fluid main-container  box">
        <header class="margin-xs row header">
            <%- include('../partials/navbar'); %>
        </header>

        <div class="tab-content mt-2 px-2 row content">
            <div class="tab-pane fade show active" id="LivePage">
                <!-- start container -->

                <h5 id="liveportaltitle">Live Streaming Portal
                    <span id="liveportaltitleTwitchCategoryImage"></span>
                    <span id="liveportaltitleKickCategoryImage"></span>
                </h5>
                <!--Row with two equal columns-->
                <div class="row border bg-light">

                    <div class="col-md-10 border bg-light">
                        <%- include('../cards/ChatMessagesCard'); %>
                        <%- include('../cards/ModMessagesCard'); %>
                        <%- include('../cards/OBSControllsCard'); %>
                        <%- include('../cards/PhilipsHueCard'); %>
                        <%- include('../cards/MacroButtonsCard'); %>
                        <%- include('../cards/StreamerSongListCard'); %>
                    </div>

                    <div class="col-md-2 border bg-light">Extensions
                        <%- include('../cards/ExtensionsListCard'); %>
                        <%- include('../cards/AlertsCard'); %>
                    </div>
                </div>

                <!-- end container -->
            </div>

            <div class="tab-pane fade" id="SettingsPage">
                <%- include('../cards/SettingsPageCard'); %>
            </div>
            <div class="tab-pane fade" id="tab3">
                <h2>Help</h2>
                <p>For help please checkout my <a href="https://discord.gg/EyJy8brZ6R">Discord</a> or catch me on stream
                    <a href="https://twitch.tv/olddepressedgamer">OldDepressedGamer</a>
                <p>Alternatively check out the <a href="http://streamroller.stream/" target="newWindow">StreamRoller
                        Website</a>
                <p>Other Streamers you might be interested in</p>
                <a href="https://www.twitch.tv/y3ssydo">y3ssydo</a><br>
                <a href="https://www.twitch.tv/kittyarmistead">kittyarmistead</a><br>
            </div>
        </div>



        <footer class="row footer">
            <%- include('../scripts/datahandler'); %>
            <%- include('../partials/foot'); %>
        </footer>

    </div>
    <!-- tab click handler-->
    <script>
        $(document).ready(function ()
        {
            $('#MainPortalTabs a').click(function (e)
            {
                // Sometimes we reload the page with this modal still being active. Lets hide any still shown
                var divsToHide = document.getElementsByClassName("modal-backdrop"); //divsToHide is an array
                for (var i = 0; i < divsToHide.length; i++)
                {
                    if (divsToHide[i].style.visibility)
                        console.log("hiding ", i, divsToHide[i]);
                    divsToHide[i].style.visibility = "hidden"; // or
                    //divsToHide[i].style.display = "none"; // depending on what you're doing
                }
                e.preventDefault();
                $(this).tab('show');
            });
        });
    </script>

</body>

</html>