<!--
      StreamRoller_source Copyright 2023 "SilenusTA https://www.twitch.tv/olddepressedgamer"
 
      StreamRoller is an all in one streaming solution designed to give a single
      'second monitor' control page and allow easy integration for configuring
      content (ie. tweets linked to chat, overlays triggered by messages, hue lights
      controlled by donations etc)
 
      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU Affero General Public License as published
      by the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
 
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero General Public License for more details.
 
      You should have received a copy of the GNU Affero General Public License
      along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class=" light bg-light text-dark">
    <div class="main_body container-fluid main-container  box">
        <header class="margin-xs row header">
            <%- include('../partials/navbar'); %>
        </header>
        <h1 class="text-center">AutoPilot</h1>
        <%- include('../partials/triggerspage'); %>
        <footer class="row footer">
            <%- include('../scripts/datahandler'); %>
            <%- include('../../public/autopilotsettingswidgetsmall_placeholder.html'); %>
            <%- include('../partials/foot'); %>
        </footer>
    </div>
</body>

</html>