<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container light bg-light text-dark">
    <header>
        <%- include('../partials/navbar'); %>
    </header>
    <main class="container">
        <!-- start container -->
        <h1>Admin</h1>
        <!--Row with two equal columns-->
        <div class="row border bg-light">
            <!-- DataCenter message scrollable box -->
            <div class="col-md-8 border bg-light">
                DataCenter messages
                <%- include('../cards/MessagesCard'); %>
            </div>
            <div class="col-md-4 border bg-light">Channels and Extensions
                <%- include('../cards/SettingsListCard'); %>
                <%- include('../cards/CredentialsListCard'); %>
                <%- include('../cards/ChannelsListCard'); %> 
            </div>
        </div>
        <div class="row border bg-light">Chat
            <%- include('../cards/ChatMessagesCard'); %>
        </div>
        <!-- end container -->
    </main>
    <%- include('../scripts/datahandler'); %>
    <footer>
        <%- include('../partials/foot'); %>
    </footer>
</body>

</html>