<!--
      StreamRoller_source Copyright 2023 "SilenusTA https://www.twitch.tv/olddepressedgamer"
 
      StreamRoller is an all in one streaming solution designed to give a single
      'second monitor' control page and allow easy integration for configuring
      content (ie. tweets linked to chat, overlays triggered by messages, hue lights
      controlled by donations etc)
 
      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU Affero General Public License as published
      by the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
 
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero General Public License for more details.
 
      You should have received a copy of the GNU Affero General Public License
      along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container light bg-light text-dark">
    <header>
        <%- include('../partials/navbar'); %>
    </header>
    <main class="container">
        <!-- start container -->
        <h1>Admin</h1>
        <!--Row with two equal columns-->
        <div class="row border bg-light">
            <div class="col-md-6 border bg-light">
                <%- include('../cards/CredentialsListCard'); %>
            </div>
            <div class="col-md-6 border bg-light">
                <%- include('../cards/SettingsListCard'); %>
            </div>
        </div>
        
        <div class="col border bg-light" style="display: none; visibility: hidden;">DataCenter messages
        <div class="row border bg-light">Chat
            <%- include('../cards/ChatMessagesCard'); %>
        </div>
            <%- include('../cards/MessagesCard'); %>
            <%- include('../cards/ChannelsListCard'); %> 
        </div>
        <!-- end container -->
    </main>
    <%- include('../scripts/datahandler'); %>
    <footer>
        <%- include('../partials/foot'); %>
    </footer>
</body>

</html>